extends layout

block content
  .main-container
    .result-caption
    .wheel-container
      .pointer-container
        img(class='pointer-image' src='images/carrot.png', alt='Realistic carrot')
    .side-nav
      i(class='add-btn fa-solid fa-plus')
    a(href='javascript:void(0)' class='close-btn')
      i(class='close-img fa-solid fa-angles-left')